@charset "utf-8";

/* Globais */
*{
    /* Zero todas as margens e paddings da página*/
    margin: 0px;
    padding: 0px;
    /* Estilo e cor da fonte */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html, body{
    /* Ocupar 100% de altura e largura (baseado no tamanho da tela*/
    height: 100vh;
    width: 100vw;
}
body{
    /* Imagem de fundo que não se repete e que foca no topo do centro (da própria imagem) */
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    /* Imagem cobre toda a tela (mesmo que ocorram alguns cortes) */
    background-size: cover;
    /* Imagem de fundo fixa enquanto o conteúdo rola */
    background-attachment: fixed;
}

/* Main */
main{
    /* Posição relativa */
    position: relative;
    /* Ocupa 100% da altura (com base no tamanho da tela) */
    height: 100vh;
}

/*Section telefone*/
section#telefone{
    /* As seguintes 4 linhas centralizam o elemento dentro do elemento "main"*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* O container "section" tem altura e largura examente iguais ao da imagem do telefone */
    height: 590px;
    width: 293px;
    /* O container recebe uma imagem de fundo que não se repete */
    background: url(pacote-d013/imagens/frame-iphone_293.png) no-repeat;
}
iframe#frame{
    position: relative;
    /* Valores para o background ficar dentro do celular */
    top: 75px;
    left: 21px;
    height: 450px;
    width: 251px;
}
section#redes_sociais{
    text-align: right; /* Alinha a section à direita */
}
section#redes_sociais img{ /* Configura as imagens da section "redes_sociais" */
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px 2px black;
    box-sizing: border-box; /* A borda fica do tamanho da caixa (ou seja, do próprio elemento "img" */
}
section#redes_sociais img:hover{
    transform: translate(-5px, -5px); /* Posição muda */
    box-shadow: 2px 2px 5px 4px black; /* Sombra */
    border: 2px solid rgba(255, 255, 255, 0.76) /* Borda */;
    transition: transform 0.5s; /* O tempo pro transform. (Poderia alterar o tempo para cada propriedade dada */
}