@charset "UTF-8";
/*
    Paleta de cores:
    azul = #39A0ED
    Lilás = #5F2C82
*/
/* globais */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Width e Height já incluem o conteúdo, padding e border */
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5F2C82;
}

/* MAIN */
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

/* SECTION */
section#login{
    /* Centralizando a section (da maneira tradicional */
    position: absolute;
    top: 50%;
    left: 50%;
    /* Largura, altura, cor, borda redonda */
    width: 250px;
    height: 525px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /* Esconde oq ultrapassar a section de login */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%); /* Centraliza o section no meio da página */
    /* Transição */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; /* Deixa a transição suave */
}
section#login div#imagem{
    background: #5F2C82 url(../imagens/imagem_01.jpg) no-repeat center center/cover;
    height: 250px;
    width: 250px;
}
section#login div#formulario{
    padding: 8px;
}

section#login h1{
    text-align: center;
    margin-bottom: 10px;
}
section#login p{
    font-size: 0.8em;
}


form > div.campo{ /* Formulário de Login e Senha */
    background-color: #5F2C82;
    border: 2px solid #5F2C82;
    width: 95%;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

div.campo  span{ /* ícone de pessoa e chave */
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo input{ /* Campo de Login e Senha */
    background-color: #40acff;
    font-size: 1em;
    width: calc(100% - 45px); /* 100% menos a qtd de pixels que o ícone está ocupando (cerca de 45px) */
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-12px); /* Movendo o campo pra cima */
}
div.campo input:focus-within{
    background-color: white;
}
/* Botão de "Entrar" */
form > input[type=submit]{
    display: block;
    margin: auto;
    width: 95%;
    height: 40px;
    font-size: 1em;
    background-color: #39A0ED;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #2972aa;
}
/* Botão "Esqueci a senha" */
form > a.botao{
    display: block;
    margin: auto;
    width: 95%;
    height: 40px;
    font-size: 1em;
    background-color: white;
    border: 1px solid #40acff;
    color: #39A0ED;
    font-weight: 600;
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
}
form > a.botao:hover{
    background-color: #69beff;
}
form > a.botao > span{
    font-size: 0.8em;
}

