@charset "UTF-8";
@font-face {
    font-family: 'Oswald';
    src: url(material/OSWALD.otf) format(opentype);
}
/* variáveis */
:root{
    --cor1: #b1b1b1; /* Background do aside */
    --cor2: #9893DA; /* Header */ 
    --cor3: #F42C04; /* Destaques */
    --cor4: #2B2E33; /* Background da página */
    --cor5: #DCDCDD; /* Background do main */

    --fonte_titulo: "Montserrat", sans-serif;
    --fonte_paragrafo: "roboto", sans-serif;
    --fonte_padrao: Arial, Verdana, Sans-serif;
}
/* Configurações globais */
body{
    background-color: var(--cor4);
    margin: 0px;
}
p{
    font-family: var(--fonte_paragrafo);
    text-align: justify;
    line-height: 30px;
    font-size: 1.1em;
    text-indent: 30px;
}
strong{
    color: var(--cor3);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.199);
}


/* Header*/
header{
    background-color: var(--cor2);
    padding: 20px;
    max-height: 300px;
    min-height: 150px;
    max-width: 100%;
    min-width: 150px;
}
/* H1 de header*/
header h1{
    font-family: var(--fonte_titulo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    font-size: 2.2em;
    text-align: center;
}
/* nav de header*/
header nav{
    /*Obs: Alinhei o nav todo à direita, pois a linha "display: inline" de "header li{}" não deixou os itens na direita*/
    text-align: right;
}
/*Configurando a ul de header*/
header ul{
    padding: 0px;
    margin: 0px;
}
/* "li" de header */
header li{
    list-style-type: none;
    text-align: right;
    display: inline;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: var(--fonte_paragrafo);
    color: black;
}
/* Hover para o li de header */
header li:hover{
    background-color: #b0aafd; /* Outro tom da cor 2 */
    border-radius: 10px;
    transition: 0.5s;
    font-size: 22px;
    color: rgba(8, 8, 8, 0.74)
}
/*Configuração do "a" de header*/
header a{
    text-decoration: none;
}


/*2° parte*/
.logo {
    color: white;
    font-weight: bold;
}

/* Main */
main{
    background-color: var(--cor5);
    width: 70%;
    margin: auto;
    padding: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295);
}
main h2{
    font-family: var(--fonte_titulo);
    font-size: 2.1rem;
}


main img{
    width: 100%;
}

/* Aside */ 
aside{
    width: 70%;
    margin: auto;
    background-color: var(--cor1); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295);
}

aside h2{
    font-family: var(--fonte_titulo);
    font-size: 2.1em;
    background-image: linear-gradient(to right, #ffffff, var(--cor5));
    text-align: center;
}
aside a{
    text-decoration: none;
    color: var(--cor3);
    background-color: rgba(0, 0, 0, 0.658);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295);
    padding: 2px;
}
aside a:hover{
    font-size: 18px;
}
/* Colocando o emoji do link */
aside a:after{
    content: '\1F517';
}
.video{
    display: flex; 
    justify-content: center; /* Centraliza horizontalmente o conteúdo flexível */
    margin: auto; /* Centraliza o próprio container horizontalmente se ele tiver uma largura definida */
    max-width: 900px; /* Largura máxima */
    min-width: 300px; /* Largura mínima */
}

/* Footer */
footer p{
    text-align: center;
    background-color: var(--cor3);
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);
}